<app-header></app-header>


<hr>
<section class="articles">
  <div class="search">
    <div class="namepage">
      <div class="articlesline1">
      </div>
      <div class="articlesline2"><p>Articles</p></div>
    </div>
    <div class="search_wrap search_wrap_1">
      <div class="search_box">
        <input type="text" class="input" placeholder="Search...">
        <div class="btn btn_common">
          <i class="fas fa-search"></i>
        </div>


      </div>
    </div>

  </div>
  <div class="centerfilters">
    <div class="bylikes" >
      <ul>
        <li class="list">By likes 🡳</li>
        <li class="list">By date 🡳</li>
        <li class="list">Alphabetically 🡳</li>
      </ul>

    </div>
  </div>




</section>
<section id="blog" >

  <!----heading-->


  <!--blog-container-->
  <div class="blog-container">

    <div class="blog-box">
      <div class="namesliders"><p>Programming</p>
      </div>
      <div class="blog-img">
        <img src="assets/cooking.jpg" alt="">
      </div>
      <div class="blog-text">
        <span>December 10</span>
        <a href="" class="blog-title">Awesome dinner</a>
        <p>Turkey delivers more than just a fascinating culture &  ...
        </p>
        <a href="">Read more</a>
      </div>
    </div>
    <div class="blog-box">
      <div class="blog-img">
        <div class="namesliders"><p>Programming</p>
        </div>
        <img src="assets/cooking.jpg" alt="">
      </div>
      <div class="blog-text">
        <span>December 10</span>
        <a href="" class="blog-title">Awesome dinner</a>
        <p>Turkey delivers more than just a fascinating culture &  ...</p>
        <a href="">Read more</a>
      </div>
    </div>
    <div class="blog-box">
      <div class="namesliders"><p>Programming</p>
      </div>
      <div class="blog-img">
        <img src="assets/cooking.jpg" alt="">
      </div>
      <div class="blog-text">
        <span>December 10</span>
        <a href="" class="blog-title">Awesome dinner</a>
        <p>Turkey delivers more than just a fascinating culture &  ...</p>
        <a href="">Read more</a>
      </div>
    </div>
    <div class="blog-box">
      <div class="namesliders"><p>Programming</p>
      </div>
      <div class="blog-img">
        <img src="assets/cooking.jpg" alt="">
      </div>
      <div class="blog-text">
        <span>December 10</span>
        <a href="" class="blog-title">Awesome dinner</a>
        <p>Turkey delivers more than just a fascinating culture &  ...</p>
        <a href="">Read more</a>
      </div>
    </div>
    <div class="blog-box">
      <div class="namesliders"><p>Programming</p>
      </div>
      <div class="blog-img">
        <img src="assets/cooking.jpg" alt="">
      </div>
      <div class="blog-text">
        <span>December 10</span>
        <a href="" class="blog-title">Awesome dinner</a>
        <p>Turkey delivers more than just a fascinating culture &  ...</p>
        <a href="">Read more</a>
      </div>
    </div>
    <div class="blog-box">
      <div class="namesliders"><p>Programming</p>
      </div>
      <div class="blog-img">
        <img src="assets/cooking.jpg" alt="">
      </div>
      <div class="blog-text">
        <span>December 10</span>
        <a href="" class="blog-title">Awesome dinner</a>
        <p>Turkey delivers more than just a fascinating culture &  ...</p>
        <a href="">Read more</a>
      </div>
    </div>
    <div class="blog-box">
      <div class="namesliders"><p>Programming</p>
      </div>
      <div class="blog-img">
        <img src="assets/cooking.jpg" alt="">
      </div>
      <div class="blog-text">
        <span>December 10</span>
        <a href="" class="blog-title">Awesome dinner</a>
        <p>Turkey delivers more than just a fascinating culture &  ...</p>
        <a href="">Read more</a>
      </div>
    </div>
    <div class="blog-box">
      <div class="namesliders"><p>Programming</p>
      </div>
      <div class="blog-img">
        <img src="assets/cooking.jpg" alt="">
      </div>
      <div class="blog-text">
        <span>December 10</span>
        <a href="" class="blog-title">Awesome dinner</a>
        <p>Turkey delivers more than just a fascinating culture &  ...</p>
        <a href="">Read more</a>
      </div>
    </div>

  </div>








</section>

<app-footer></app-footer>
