<app-header></app-header>
<section class="userpage">

  <hr style="margin-top: 45px; border-width: 0.1px; border-color: black; position: absolute; width: 100%; margin-bottom: 1px;">
  <div style="margin-top: 240px;"></div>

  <div class="lineuser">



    <hr style="margin-top: 547px; border-width: 0.6px; border-color: rgb(0, 0, 0); position: relative; width:1100px; margin-bottom: 1px;" >


  </div>
  <div class="nameuserpage"><p>Articles</p></div>
  <div class="nameuserpage1"><p>drg.mika</p></div>
</section>>
<app-footer></app-footer>
