* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', serif;
    letter-spacing: 0.1em;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.centered-content {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.content {
    max-width: 1140px;
    margin: auto;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #CD4532;
    display: block;
    text-align: center;
}

a:hover {
    text-decoration-line: underline;
}

.img {
  border-right: 0.1px solid black;
  border-left: 0.1px solid black;
    flex: 1;
    background-image: url("../../../../../Resourse/travel.webp");
    background-size: contain;
}

.form-content {
  padding: 14px 60px 28px;
  width: 447px;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #C24332;
}

.form {
    margin-top: 50px;
    text-align: center;
}

.last-block {
    margin-bottom: 35px !important;
}

.form > div {
    margin-bottom: 55px;
    position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #ebe6d1 inset !important;
    box-shadow: 0 0 0 30px #ebe6d1 inset !important;
}

.form input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #c24332;
    background: none;
    outline: none;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6px;
}

.form input ~ label {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s;
}

.form input:focus ~ label,
.label-up {
    transform: translateY(-24px);
    color: #c24332;
}

.submit {
    width: 200px;
    height: 50px;
    background: #c24332;
    color: white;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(193, 74, 74, 0.69);
    border-radius: 30px;
    margin-bottom: 28px;
    transition: 0.4s;
    font-weight: bold;
}

.submit:disabled {
    cursor: not-allowed;
}

.submit:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.error {
    color: #c24332;
    text-align: end;
    font-weight: bold;
    font-size: 12px;
    margin-top: 3px;
}

.auth-error {
    margin-top: 30px;
    color: #c24332;
}
