<hr style="margin-top: 278px; border-width: 0.1px; border-color: black; position: absolute; width: 100%; margin-bottom: 1px;">
<hr style="margin-top: 323px; border-width: 0.1px; border-color: black; position: absolute; width: 100%; margin-bottom: 1px;">
<header class="menu">
  <div class="textForHeader"><p>EVERYTHING IS PERSONAL. INCLUDING THOUGHTS.</p></div>

  <div class="nameBlog"><p>WebJournal</p></div>

  <div class="line1">
    <hr id="line1hr">
    <p>Cooking</p>
  </div>
  <div class="line2">
    <hr id="line2hr">
    <p>Art</p>
  </div>
  <div class="line3">
    <hr id="line3hr">
    <p>News</p></div>
  <div class="line4">
    <hr id="line4hr">
    <p>Travel</p></div>
  <div class="line5">
    <hr id="line5hr">
    <p>Policy</p></div>
  <div class="line6">
    <hr id="line6hr">
    <p>Programming</p></div>

  <div class="navigation">
    <ul class="ul">
      <li><a routerLink="/" class="aCss">Home</a></li>
      <li><a routerLink="/posts" class="aCss">Articles</a></li>
      <li><a (click)="goToNewsPosts()" class="aCss">News</a></li>
      <li><a routerLink="/authors" class="aCss">Authors</a></li>
      <li style="width: 105px;">
        <button class="headerBtn" id="addPostBtn" (click)="goToCreatePostPage()"><img src="assets/iconAdd.png" width="51px" height="51px"></button>
        <button class="headerBtn" id="accountBtn" (click)="goToProfile()"><img src="assets/iconsAccount.png" width="37px" height="37px"></button>
      </li>
      <hr id="lastHr">
    </ul>
  </div>
</header>
