<!------start footer section----->

<footer >
  <div class="footerBody">
    <hr class="hr3">
    <hr class="hr4">

    <div class="quick_links">
      <h2><b>Quick Links</b></h2>
        <br>
        <a href="#"><p>Home</p></a>
        <br>
        <a href="#"><p>Article</p></a>
        <br>
        <a href="#"><p>News</p></a>
        <br>
        <a href="#"><p>Authors</p></a>
    </div>


    <div class="extra_links">
      <h2><b>Extra Links</b></h2>
      <br>
      <a href="#"><p>My Account</p></a>
      <br>
      <a href="#"><p>My favourite</p></a>
      <br>
      <a href="#"><p>My subscriptions</p></a>
      <br>
      <a href="#"><p>Authors</p></a>
    </div>

    <div class="location">
      <h2><b>Locations</b></h2>
      <br>
      <p>Ukraine</p>
      <br>
      <p>Poland</p>
      <br>
      <p>USA</p>
      <br>
      <p>Japan</p>
    </div>


  </div>
</footer>
