<footer id="footer">
  <div class="footerBody">
    <div class="block">
      <h2>Quick Links</h2>
      <a routerLink="">Home</a>
      <a routerLink="/posts">Article</a>
      <a routerLink="/news-posts">News</a>
      <a routerLink="/authors">Authors</a>
    </div>
    <div class="block">
      <h2>Extra Links</h2>
      <a (click)="goToNewsPosts()">My Account</a>
      <a (click)="goToCreatePostPage()">Create new post</a>
      <a>My subscriptions</a>
      <a routerLink="/rules">Publication rules</a>
    </div>
    <div class="block location">
      <h2>Locations</h2>
      <p>Ukraine</p>
      <p>Poland</p>
      <p>USA</p>
      <p>Japan</p>
    </div>
  </div>
</footer>
