*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  user-select: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

a:hover {
  color: #c24332;
}

.footer-margin {
  margin-top: 0;
}

footer{
  width: 100%;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-top: 200px;
  letter-spacing: 0.2em;
}

.footerBody{
  margin: auto;
  width: 660px;
}

.block {
  display: inline-block;
  padding-top: 26px;
  padding-left: 25px;
  padding-right: 13px;
  border-left: 1px solid black;
  width: 220px;
}

.location {
  border-right: 1px solid black;
}

.block > h2 {
  font-size: 20px;
  margin-bottom: 23px;
}

.block a, .block p {
  font-size: 15px;
  margin-bottom: 30px;
}
