<app-header></app-header>

<hr id="hrAfterTitle">


<body>
  <div id="titleBlock"><p>Articles</p></div>

<div class="search">
  <input type="text" placeholder="Search...">
  <img id="searchIcon" src="assets/iconsSearch.png">
</div>


<div class="select">
  <form action="#">
    <select name="bylikes" class="bylikes">
      <option value="none">By likes</option>
      <option value="php">PHP</option>
      <option value="java">Java</option>
      <option value="golang">Golang</option>
      <option value="python">Python</option>
      <option value="c#">C#</option>
      <option value="C++">C++</option>
      <option value="erlang">Erlang</option>
    </select>
  </form>

  <form action="#">
    <select name="bydate" class="bydate">
      <option value="none">By date</option>
      <option value="php">PHP</option>
    </select>
  </form>

  <form action="#">
    <select name="alphabet" class="alphabet">
      <option value="none">Alphabetically</option>
      <option value="php">PHP</option>
      <option value="java">Java</option>
      <option value="golang">Golang</option>
      <option value="python">Python</option>
      <option value="c#">C#</option>
      <option value="C++">C++</option>
      <option value="erlang">Erlang</option>
    </select>
  </form>
</div>

    <div id="blog">
      <div class="post">
        <div class="label">Programming</div>

        <div class="postPhoto">
         <img src="assets/cooking.jpg">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/iconAdd.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/iconAdd.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>


      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>

      <div class="post">
        <div class="label">Programming</div>
        <div class="postPhoto">
          <img src="assets/colage.png">
        </div>

        <a href="#">
          <p class="postTitle">Awesome dinner</p>
          <p class="postForeword">Turkey delivers more than just a fascinating culture &  ...</p>
        </a>

      </div>



    </div>

</body>

<app-footer></app-footer>
