<app-header></app-header>

<hr id="hrAfterTitle">


<body>
  <div id="titleBlock"><p>Articles</p></div>

<div class="search">
  <input type="text" placeholder="Search..." [(ngModel)]="searchParameter.searchPattern.search" (keyup.enter)="apply()" >
  <img id="searchIcon" src="assets/iconsSearch.png" (click)="apply()">
</div>
  <div style="width: 300px; height: 30px;">
    <ng-autocomplete
      [data]="tags"
      [searchKeyword]="keyword"
      placeholder="Tag..."
      (inputChanged)='getTags($event)'
      (selected)='selectedTags($event)'
      historyIdentifier="countries"
      [itemTemplate]="itemTemplate"
      (keyup.enter)="apply()"
      (inputCleared)="cleanTagSearch()">
    </ng-autocomplete>
    <ng-template #itemTemplate let-item >
      <a href="javascript:void(0)" class="ng-template">
        <span [innerHTML]="item.name"></span>,
        <span [innerHTML]="item.address"></span>
      </a>
    </ng-template>
<!--    <img id="searchIcon" src="assets/iconsSearch.png" (click)="apply()">-->
  </div>

<table class="select" matSort (matSortChange)="setSorted($event)">
  <tr>
    <th mat-sort-header="likes" class="bylikes" style="text-align: center"> By like</th>
    <th class="bydate"  mat-sort-header="published_at"> By date
    </th>
    <th class="alphabet" mat-sort-header="title"> Alphabetically </th>
  <tr>
</table>

    <div id="blog">
      <div class="post" *ngFor="let post of page.content | paginate: {itemsPerPage: searchParameter.pageSize, currentPage:  searchParameter.page+1, totalItems: page.totalItem}">
<!--        <div class="label">Programming</div>-->
        <div class="postPhoto">
          <img [src]="postImage+post.id+'.jpg'" (error)="onErrorPostImage($event)"  alt="">
        </div>

        <a routerLink="/posts/{{post.id}}">
          <p class="postTitle">{{post.title}}</p>
          <p class="postForeword">{{post.foreword}}</p>
        </a>

      </div>

      <div style="width: 1140px; background-color: #EBE6D1; margin: -30px auto auto;">
        <div style=" position: relative; font-size: 16px; margin: 20px auto auto;">
          <button style="width: 210px; font-size: 16px; margin-top: -15px; float: left" class="btn btn-dark btn-lg" (click)="getFirst()">First Page</button>
          <div style="width: 300px; text-align: center; background-color: #EBE6D1; margin: auto;">
            <pagination-controls previousLabel="Previous"
                                 nextLabel="Next"
                                 class="my-pagination"
                                 [maxSize]="7" (pageChange)="changePage($event.valueOf() - 1)">
            </pagination-controls>
          </div>
          <button style="width: 210px; font-size: 16px; float: right;  margin-top: -67px" class="btn btn-dark btn-lg" (click)="getLast()">Last Page</button>
        </div>
      </div>

    </div>

</body>

<app-footer></app-footer>
