<app-header></app-header>

<!--start section content... -->
<div style="z-index: 1000;" *ngIf="isDataLoaded">
<section class="introduction">
  <div class="featuredPosts">
    <div class="namesliders"><p> FEATURED POSTS</p></div>
    <!--image slider start-->
    <div class="slider">
      <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!--radio buttons end-->
        <!--slide images start-->
        <div class="slide first">
          <div class="imgContainer">
            <img [src]="postImage+posts[0].id+'.jpg'" (error)="onErrorPostImage($event)"  alt="">
          </div>
          <div class="pslider" routerLink="/posts/{{posts[0].id}}">
            <h1>{{posts[0].title}}</h1>
            <div class="datasliders"><p style="margin-left: -8px">{{posts[0].publishedAt| date:'MMM d, y'}}</p></div>
            <div class="aboutsliders"><p>{{posts[0].foreword}}</p></div>
          </div>
        </div>
        <div class="slide">
          <div class="imgContainer">
          <img [src]="postImage+posts[1].id+'.jpg'" (error)="onErrorPostImage($event)" alt="">
            </div>
          <div class="pslider" routerLink="/posts/{{posts[1].id}}">
            <h1>{{posts[1].title}}</h1>
            <div class="datasliders"><p style="margin-left: -8px">{{posts[1].publishedAt| date:'MMM d, y'}}</p></div>
            <div class="aboutsliders"><p>{{posts[1].foreword}}</p></div>
          </div>
        </div>
        <div class="slide">
          <div class="imgContainer">
          <img [src]="postImage+posts[2].id+'.jpg'" (error)="onErrorPostImage($event)" alt="">
            </div>
          <div class="pslider" routerLink="/posts/{{posts[2].id}}">
            <h1>{{posts[2].title}}</h1>
            <div class="datasliders"><p style="margin-left: -8px">{{posts[2].publishedAt| date:'MMM d, y'}}</p></div>
            <div class="aboutsliders"><p>{{posts[2].foreword}}</p></div>
          </div>
        </div>
        <div class="slide">
          <div class="imgContainer">
          <img [src]="postImage+posts[3].id+'.jpg'" (error)="onErrorPostImage($event)" alt="">
            </div>
          <div class="pslider" routerLink="/posts/{{posts[3].id}}">
            <h1>{{posts[3].title}}</h1>
            <div class="datasliders"><p style="margin-left: -8px">{{posts[3].publishedAt| date:'MMM d, y'}}</p></div>
            <div class="aboutsliders"><p>{{posts[3].foreword}}</p></div>
          </div>
        </div>


        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>

      </div>
      <!--manual navigation start-->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>
      <!--manual navigation end-->
    </div>
    <hr class="lineafterslide">
  </div>


  <!--------------------------------INTERESTING BLOGGERS------------------------------------------>
  <div class="interestingBlogers" >
    <mat-card class="boxBlogers" >

      <div class="namepeople" >
        <p id="interesingBloggersTitle">Interesting bloggers</p>
        <div class="right-panel">

          <div class="friends-section" style="margin-top: 60px;">
            <a class='friend' routerLink="/authors/{{author.id}}" *ngFor="let author of authors">
              <div class="dp">
                <img [src]="userImage+author.id+'.jpg'" (error)="onErrorUserImage($event)" alt="">
              </div>
              <p class="name">{{author.username}}</p>
            </a>
          </div>
        </div>
      </div>

    </mat-card>
  </div>


  <!--image slider end-->

  <script type="text/javascript">
        var counter = 1;
        setInterval(function () {
          document.getElementById('radio' + counter).checked = true;
          counter++;
          if (counter > 4) {
            counter = 1;
          }
        }, 5000);
      </script>


</section>
<!----------------start tag section--bgcolor=#c5c6d0------------->
<section >
  <hr style="margin-top: -220px;" class="actualTagsHr">
  <hr style="margin-top: -170px;" class="actualTagsHr">
  <hr style="margin-top: 11.5px;" class="actualTagsHr">
  <table class="actual_tags" style="z-index: 10;">
    <tr>
      <th colspan="5" height="48cm">Actual tags</th>
    </tr>
    <tr class="b2" *ngFor="let tags of tagList">
      <td [ngStyle]="{'background-color': setBackgroundColor(tag.id)}" *ngFor="let tag of tags"
          style="text-transform: lowercase;"><a (click)="setTag(tag.name)">{{tag.name}}</a></td>
    </tr>
  </table>
</section>
<!----------------Start video section------------->

<section  style="z-index: 0;" class="videosParts">
  <div class="checkOutNewArticles">
    <p>Check out new articles</p>
    <button type="button" class="fill1" (click)="goToArticles()"><p>discover</p></button>
    <hr class="linevideos linevideos1">
    <img src="assets/1.gif" class="vidos1">
    <div class="fonvideo"></div>
  </div>
  <div class="BecomeNewAuthor">
    <p *ngIf="!this.storageService.isLoggedIn()">Become a new author</p>
    <p *ngIf="this.storageService.isLoggedIn()">Find people to follow</p>
    <button *ngIf="!this.storageService.isLoggedIn()" type="button" class="fill2" (click)="goToRegistration()"><p id="registerBtn">register</p></button>
    <button *ngIf="this.storageService.isLoggedIn()" type="button" class="fill2" (click)="goToAuthors()"><p id="authorsBtn">search</p></button>
    <hr class="linevideos linevideos2">
    <img src="assets/2.gif" class="vidos2">
    <div class="fonvideo2"></div>
  </div>
</section>
</div>
<!----------------END video section------------->
<!-----------------End tag section---------------->
<app-footer></app-footer>
