@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,300;0,500;0,600;0,700;0,900;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #EBE6D1;
}

.a{
  margin: auto;
  margin-top: 40px;

  width: 230px;
  height: 20px;

  text-align: center;
  background-color: #c2433200;
}

a{
  text-decoration: none;
  font-family: 'Montserrat Alternates', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.1em;


  color: #CD4532;

}

a:hover{
  text-decoration-line: underline;
}

.mainDiv{
  margin: auto;

  height: 460px;
  width: 1140px;

  background-color: rgba(137, 43, 226, 0);
  margin-top: 5%;
  margin-bottom: 50%;

  border-left: 2px solid black;
}

.heightHR{
  z-index: 1;
  position: absolute;
  width: 100%;
  border: 0.5px solid black;
}

.bottomHR{
  position: absolute;
  margin-top: 460px;

  width: 100%;
  border: 0.5px solid black;
}

.imgDiv{
  margin-left: 340px;
  margin-top: -384px;
  width: 800px;
  height: 460px;
  background: center;
  background-size: 820px 460px;
  background-image: url("colage.png");
  background-color: #c2433200;

  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
}

.formDiv{
  width: 340px;
  height: 460px;

  position: absolute;
  margin-left: 0px;
  margin-top: 20px;
  background-color: #c2433200;
}

#registration{
  margin: auto;
  margin-top: 20px;

  width: 280px;
  height: 44px;
  text-align: center;

  background-color: #c2433200;

  font-family: 'Montserrat Alternates', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #C24332;
}

/******************************/
.inputs{
  margin-top: 60px;
  text-align: center;
}

.inputs input{
  width: 260px;
  height: 30px;

  margin-bottom: 20px;

  border: none;
  background: #c2433200;
  border-bottom: 2px solid #C24332;

  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

.inputs input::placeholder{
  font-family: 'Montserrat Alternates', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #000000;
}

.inputs input:focus{
  border-color: crimson;
}

.inputs input:focus ~ label,
.inputs input:valid ~ label{
  transform: translateY(-23px);
  color: crimson;
}

.submit{
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-top: 30px;

  background: #C24332;

  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(193, 74, 74, 0.69);
  transition: 1s;
  border-radius: 30px;
}

.submit label{
  font-family: 'Montserrat Alternates', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.1em;
  cursor: pointer;

  color: #FFFFFF;
}

.submit:hover{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

