<body>

<hr class="heightHR">
<hr class="bottomHR">
<div class="mainDiv">
  <div class="formDiv">
    <p id="registration">Log In</p>
    <form  class="inputs">
      <input type="text" placeholder="Username" required>
      <input type="password" placeholder="Password" required>

      <button class="submit"><label>Log In</label></button>
    </form>

    <div class="a">
      <a href="http://localhost:4200/registration">Don't have account ? Create account -></a>
    </div>
    <div class="imgDiv"></div>

  </div>
</div>

</body>
