<app-header></app-header>
<!--start section content... -->
<body>
<div class="postDiv">


  <div class="dropdown">
    <button class="dropbtn" id="{{idButtonShowAction}}" (click)="showActions()">
      <img src="assets/iconMenu.png" alt="menu" width="40px">
    </button>
    <div class="dropdown-content" id="{{classButtonShowAction}}">
      <button *ngIf="showAuthorsButton()" (click)="enableEditMode()">Edit</button>
      <button *ngIf="showAuthorsButton()" (click)="delete()">Delete</button>
      <button *ngIf="approvedButton" (click)="approved()">Approve</button>
      <button *ngIf="canselApprovedButton" (click)="canselApproved()">Сancel Approve</button>
    </div>
  </div>

  <p id="datePostDiv">{{post.publishedAt | date:'MMM d, y'}}</p>
  <h1 id="titlePostDiv">{{post.title}}</h1>
  <p id="forewordPostDiv">{{post.foreword}}</p>

  <div class="imgDivi">
    <img class="img" [src]="postImage+post.id+'.jpg'" (error)="onErrorPostImage($event)" alt="">
  </div>

  <p id="mainContent" [innerHTML]="post.content"></p>
  <hr id="postLowerHr">

  <p id="byUser">
    <a href="#">by {{post.author.username}}</a>
  </p>

  <div class="heart-btn">
    <div class="content">
      <button class="heart"></button>
    </div>
  </div>

  <div class="contentLikeText">Likes {{post.likes}}</div>
</div>


<!------start tags section----->
<div class="tagsSection">
  <button class="button-89" (click)="setTag($event)" value="{{tag.name}}"
          *ngFor="let tag of post.tags">{{tag.name}}</button>
</div>
<!------start comment section----->
<div class="commentBody">
  <h2 class="similarPostsTitle">Comments</h2>
  <div>
    <div class="imgDivUser">
      <img src="assets/cooking.webp" alt="">
    </div>

    <div class="input-container">
      <input type="text" required=""/>
      <label>Add a comment</label>
      <button type="button" class="fill"><p id="publishBtn">publish</p></button>
    </div>

  </div>
</div>

<div class="CommentSection">
  <div>
    <div class="imgDivUser">
      <img src="assets/cooking.webp">
    </div>
    <div class="commentInfo">
      <p id="commentUserName">Nick of person</p>
      <p id="commentText">Comment jidjfso</p>
    </div>
    <div class="menuCommentDropdown">
      <button class="dropbtn" id="{{idButtonShowAction}}" (click)="showActions()">
        <img src="assets/iconsCommentIcon.png" height="39px" width="40px">
      </button>
      <div class="menuCommentDropdown-content" id="{{classButtonShowAction}}">
        <button (click)="delete()">Delete</button>
      </div>
    </div>
  </div>

</div>

<!------start recent post section----->
<div class="similarPostsDiv">
  <h2 class="similarPostsTitle">Similar Posts</h2>
  <div id="blog">
    <div style=" position: relative; height: 300px; font-size: 16px; margin: 0px auto auto;"  *ngIf="similarPosts.length == 0">
      <div class="con">
        <b class="spanstyle">Not Similar Posts</b>
      </div>
    </div>
    <div class="post" *ngFor="let post of similarPosts">
      <!--        <div class="label">Programming</div>-->
      <div style="height: 200px; border-bottom: 0.1px solid black;" class="imgDiv">
        <img [src]="postImage+post.id+'.jpg'" (error)="onErrorPostImage($event)">
      </div>
      <a (click)="goToPost(post.id)">
      <p class="similarPostsPostTitle"><a class="postTitleA">{{post.title}}</a></p>
      <p class="postForeword"><a class="postTitleA">{{post.foreword}}</a></p>
      </a>
    </div>
  </div>
  <!--  <div class="oneSimilarPost" *ngFor="let post of similarPosts">-->
  <!--    <div style="height: 200px; border-bottom: 0.1px solid black;" class="imgDiv">-->
  <!--      <img [src]="postImage+post.id+'.jpg'" (error)="onErrorPostImage($event)">-->
  <!--    </div>-->
  <!--    <p class="similarPostsPostTitle"><a class="postTitleA" href="#">{{post.title}}</a></p>-->
  <!--    <p class="similarPostsPostTitle"><a class="postTitleA" href="#">{{post.foreword}}</a></p>-->
  <!--  </div>-->

  <!--  <div class="oneSimilarPost">-->

  <!--    <div style="height: 200px; border-bottom: 0.1px solid black;" class="imgDiv">-->
  <!--      <img src="assets/cooking.webp">-->
  <!--    </div>-->
  <!--    <p class="similarPostsPostTitle"><a class="postTitleA" href="#">Best Podcasts to Listen to When Traveling</a></p>-->
  <!--  </div>-->

  <!--  <div class="oneSimilarPost" id="secondPost">-->
  <!--    <div style="height: 200px; border-bottom: 0.1px solid black;" class="imgDiv">-->
  <!--      <img src="assets/img.png">-->
  <!--    </div>-->
  <!--    <p class="similarPostsPostTitle"><a class="postTitleA" href="#">Movies That Need to Be Seen on the Big Screen</a></p>-->
  <!--  </div>-->

  <!--  <div class="oneSimilarPost"  id="thirdPost">-->
  <!--    <div style="height: 200px; border-bottom: 0.1px solid black;" class="imgDiv">-->
  <!--      <img src="assets/colage.png">-->
  <!--    </div>-->
  <!--    <p class="similarPostsPostTitle"><a class="postTitleA" href="#">This Artist Will Blow Your Mind</a></p>-->
  <!--  </div>-->
</div>
</body>
<!------start footer section----->

<app-footer></app-footer>
