<app-header></app-header>
<!--start section content... -->
<body>
<div class="postDiv">


  <div class="dropdown">
    <button class="dropbtn" id="{{idButtonShowAction}}" (click)="showActions()">
      <img src="assets/iconMenu.png" alt="menu" width="40px">
    </button>
    <div class="dropdown-content" id="{{classButtonShowAction}}">
      <button *ngIf="showAuthorsButton()" (click)="enableEditMode()">Edit</button>
      <button *ngIf="showAuthorsButton()" (click)="delete()">Delete</button>
      <button *ngIf="approvedButton" (click)="approved()">Approve</button>
      <button *ngIf="canselApprovedButton" (click)="canselApproved()">Сancel Approve</button>
    </div>
  </div>

  <p id="datePostDiv">{{post.publishedAt | date:'MMM d, y'}}</p>
  <h1 id="titlePostDiv">{{post.title}}</h1>
  <p id="forewordPostDiv">{{post.foreword}}</p>

  <div class="imgDivi">
    <img class="img" [src]="postImage+post.id+'.jpg'" (error)="onErrorPostImage($event)" alt="">
  </div>

  <p id="mainContent" [innerHTML]="post.content"></p>
  <hr id="postLowerHr">

  <p id="byUser">
    <a href="#">by {{post.author.username}}</a>
  </p>

  <div class="heart-btn"  *ngIf="!showAuthorsButton()">
    <div class="content">
      <button (click)="like()" class="{{likeButton}}"></button>
    </div>
  </div>

  <div class="contentLikeText">Likes {{post.likes}}</div>
</div>


<!------start tags section----->
<div class="tagsSection">
  <button class="button-89" (click)="setTag($event)" value="{{tag.name}}"
          *ngFor="let tag of post.tags">{{tag.name}}</button>
</div>
<!------start comment section----->
<div class="commentBody">
  <h2 class="similarPostsTitle">Comments</h2>
  <div style=" position: relative;  font-size: 16px; margin: 0px auto auto;"  *ngIf="!isCreateComment">
    <div class="con">
      <b class="spanstyle">Authorize to create comment</b>
    </div>
  </div>
  <div *ngIf="isCreateComment">
    <div class="imgDivUser" >
      <img src="assets/cooking.webp" alt="">
    </div>

    <div class="input-container">
      <input type="text" required="" [(ngModel)]="commentText"/>
      <label>Add a comment</label>
      <button type="button" class="fill"><p id="publishBtn" (click)="createComment()">publish</p></button>
    </div>

  </div>
</div>

<div class="CommentSection">
  <div *ngFor="let comment of comments.content">
    <div class="imgDivUser">
      <img [src]="userImage+comment.author.id+'.jpg'" (error)="onErrorUserImage($event)">
    </div>
    <div class="commentInfo">
      <p id="commentUserName">{{comment.author.username}}</p>
      <p id="commentText">{{comment.text}}</p>
    </div>
    <div class="menuCommentDropdown" >
      <button class="dropbtn" (click)="showActions()" *ngIf="showCommentButton(comment.author.id)">
        <img src="assets/iconsCommentIcon.png" height="39px" width="40px" >
      </button>
      <div class="menuCommentDropdown-content">
        <button (click)="deleteComment(comment)">Delete</button>
      </div>
    </div>
  </div>
  <div style=" position: relative; font-size: 16px; margin: 0px auto auto;" *ngIf="isDataFullLoaded">
    <button style="width: 210px;height: 30px; font-size: 16px; margin: -20px auto 30px; display: block;" class="btn btn-dark btn-lg" (click)="search()">Download</button>
  </div>

</div>

<!------start recent post section----->
<div class="similarPostsDiv">
  <h2 class="similarPostsTitle">Similar Posts</h2>
  <div id="blog">
    <div style=" position: relative; height: 300px; font-size: 16px; margin: 0px auto auto;"  *ngIf="similarPosts.length == 0">
      <div class="con">
        <b class="spanstyle">Not Similar Posts</b>
      </div>
    </div>
    <div class="post" *ngFor="let post of similarPosts">
      <!--        <div class="label">Programming</div>-->
      <div style="height: 200px; border-bottom: 0.1px solid black;" class="imgDiv">
        <img [src]="postImage+post.id+'.jpg'" (error)="onErrorPostImage($event)">
      </div>
      <a (click)="goToPost(post.id)">
      <p class="similarPostsPostTitle"><a class="postTitleA">{{post.title}}</a></p>
      <p class="postForeword"><a class="postTitleA">{{post.foreword}}</a></p>
      </a>
    </div>
  </div>
</div>
</body>
<!------start footer section----->

<app-footer></app-footer>
