<div class="container">
  <div class="centered-content">
    <div class="content">
      <div class="form-content">
        <p class="heading">Log In</p>
        <form class="form" autocomplete="off">
          <div>
            <input id="email" type="text" required>
            <label for="email">Email</label>
          </div>
          <div>
            <input id="password" type="password" required>
            <label for="password">Password</label>
          </div>
          <button type="submit" class="submit">Log In</button>
        </form>
        <a routerLink="/register">Don't have an account ? Create one -></a>
      </div>
      <div class="img"></div>
    </div>
  </div>
</div>