<app-header></app-header>
<section class="profile-section">
    <div class="headings-section">
        <div class="headings container">
            <div id="art-heading">
                <p>Articles</p>
                <select *ngIf="hasPermissionToFilter()" name="filter" class="select articles-filter" (change)="changePostsFilter()" [(ngModel)]="searchModel.searchPattern.areApproved">
                    <option value="true">Approved</option>
                    <option value="false">Not Approved</option>
                    <option value="">All</option>
                </select>
            </div>
            <p id="username">{{user.username}}</p>
        </div>
    </div>
    <div class="details container">
        <div id="articles">
            <div class="articles-list">
                <div class="article" *ngFor="let article of articlesPage.content | paginate: {itemsPerPage: searchModel.pageSize, currentPage: searchModel.page+1, totalItems: articlesPage.totalItem}">
                    <div class="post-label">{{article.tag}}</div>
                    <div class="article-photo">
                        <img src="assets/PostImage/post_{{article.id}}.jpg" (error)="onErrorPostImage($event)" alt="post #{{article.id}} photo">
                    </div>
                    <a routerLink="/posts/{{article.id}}">
                        <p class="article-title">{{article.title}}</p>
                        <p class="article-foreword">{{article.foreword}}</p>
                    </a>
                </div>
                <p *ngIf="articlesPage.totalItem === 0" class="no-articles">No articles yet...</p>
            </div>
            <pagination-controls *ngIf="articlesPage.totalItem > searchModel.pageSize" previousLabel="Previous" nextLabel="Next" class="pagination" [maxSize]="5" (pageChange)="changePage($event.valueOf() - 1)"></pagination-controls>
        </div>
        <div id="user">
            <div class="user">
                <div class="user-photo">
                    <img src="assets/UsersIcon/user_{{user.id}}.jpg" (error)="onErrorUserImage($event)" alt="{{user.username}}'s profile picture">
                </div>
                <div class="user-info">
                    <div>
                        <p class="number">{{user.following}}</p>
                        <p class="number-label">following</p>
                    </div>
                    <div>
                        <p class="number">{{articlesPage.totalItem}}</p>
                        <p class="number-label">articles</p>
                    </div>
                    <div>
                        <p class="number">{{user.followers}}</p>
                        <p class="number-label">followers</p>
                    </div>
                </div>
                <p class="email" *ngIf="user.email">{{user.email}}</p>
                <div class="role" *ngIf="role">
                    <p>Role:</p>
                    <span *ngIf="!hasPermissionToChangeRole()"> {{user.role}}</span>
                    <select *ngIf="hasPermissionToChangeRole()" name="role" class="select role-select" (change)="changeRole()" [(ngModel)]="role">
                        <option value="AUTHOR">AUTHOR</option>
                        <option value="MODERATOR">MODERATOR</option>
                    </select>
                </div>
                <div class="box" *ngIf="user.bio && user.bio !== ''">
                    <p class="bio">{{user.bio}}</p>
                    <p class="name-authors">- by author</p>
                </div>
                <button *ngIf="!isYourProfile() && !user.isFollowing" class="btn-rectangular" (click)="follow()">Follow</button>
                <button *ngIf="user.isFollowing" class="btn-rectangular" (click)="unfollow()">Unfollow</button>
                <button *ngIf="isYourProfile()" class="btn-rectangular" (click)="enableEditMode()">Edit</button>
                <button *ngIf="isAdmin() || isYourProfile()" class="btn-underlined delete-account" (click)="deleteAccount()">DELETE ACCOUNT</button>
            </div>
            <button *ngIf="isYourProfile()" class="btn-underlined logout" (click)="logout()">Logout</button>
        </div>
    </div>
</section>
<app-footer></app-footer>