<app-header></app-header>
<!--start section content... -->

<hr id="hrAfterTitle">
<body>
  <div id="titleBlock"><p>{{mode}} AN ARTICLE</p></div>
  <div class="postDiv">
    <div class="hotDog"></div>
    <a href="http://localhost:4200/rules"><p id="answ">Have you read<br>the publication rules?</p></a>


    <div class="mainBody">
      <form #postForm="ngForm" novalidate autocomplete="off" (ngSubmit)="onSave()">
        <!--TITLE INPUT WITH MAX LENGTH 80-->
        <div id="inputTitle">
          <p id="title">Title <b class="red">*</b> :</p>
          <input  type="text" name="title" maxlength="80" placeholder="Type text here..."
                  [(ngModel)]="post.title" required appTrim #title="ngModel" (keyup)="titleInput($event)">
          <div class="error" *ngIf="!title.valid && !title.untouched">*Name is required</div>
          <div class="inputLengthDiv">
            {{titleNumberOfCharacters}} / {{titleMaxNumberOfCharacters}}
          </div>
        </div>

        <!--FOREWORD INPUT WITH MAX LENGTH 150-->
        <div  id="inputForeword">
          <p id="foreword">Foreword <b class="red">*</b> :</p>
          <textarea name="foreword" maxlength="150" placeholder="Type text here..." cols="80" rows="5"  type="text"
                    [(ngModel)]="post.foreword" required appTrim #foreword="ngModel" (keyup)="forewordInput($event)"></textarea>
          <div class="error" *ngIf="!foreword.valid && !foreword.untouched">*Foreword is required</div>
          <div class="inputLengthDiv">
            {{forewordNumberOfCharacters}} / {{forewordMaxNumberOfCharacters}}
          </div>
        </div>

        <!--PHOTO INPUT-->
        <div id="inputPhoto">
          <p id="photo">Photo <b class="red">*</b> :</p>
          <div class="dropzone">
            <input type="file" name="photo" id="uploadPhoto" accept="image/png, image/jpeg" appFileValidator
                   (change)="previewImage()" ngModel #photo="ngModel" [required]="mode === 'create'">
            <p>Drag or <i style="text-decoration: underline">tap</i> to download<br>
            We recommend using high-quality files in the .jpg (up to 20 MB in size).</p>
          </div>
        </div>

        <div id="uploadedPhoto" *ngIf="image != null || mode == 'UPDATE'">
          <p class="previewPhoto">Preview photo:</p>
          <div class="imgDiv">
            <img id="previewImg" [src]="previewImg + postId + '.jpg'" alt=""/>
          </div>
        </div>

        <!--TAGS INPUT-->

        <p id="tagsText">Tags <b class="red">*</b> :</p>
        <div id="tagList">
          <form (submit)="addTodo($event)">
            <div class="ng-autocomplete">
              <ng-autocomplete
                [data]="tags"
                [searchKeyword]="keyword"
                placeholder="Enter a tag name"
                (selected)='selectEvent($event)'
                (inputChanged)='getTags($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
                [(ngModel)]="newTodo"
                (keyup.enter)="newTodo=undefined"
                name="newTodo">
              </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>

            </div>
            <button class="button-89" role="button"  type="submit" [disabled]="newTodo==undefined">Add</button>
          </form>
        </div>
        <div class="listOfTags">
          <button class="button-91" (click)="deleteTodo(i)" *ngFor="let tag of post.tags; let i=index">{{ tag.name }}</button>
        </div>
        <!--CONTENT INPUT-->
        <p id="contentText">Content <b class="red">*</b> :</p>
        <div id="content">
          <angular-editor name="content" #content="ngModel" [placeholder]="'Enter text here...'" [(ngModel)]="post.content" type="text"
                          required appTrim></angular-editor>
          <div class="errorContent" *ngIf="!content.valid && !content.untouched">*Content is required</div>
        </div>
        <p  id="warning">🌭 Fields with <b class="red">*</b> are mandatory 🌭</p>
        <div class="checkBox">

          <br><input type="checkbox" id="switch" name="checkbox" (change)="changeEvent($event)" /><label for="switch"></label>

          <p id="agreeText">I confirm that I am the author of the text I publish and I understand that
            the publication of other people's works or the publication of works that violate
            the rules may lead to the removal of these works and blocking access to the site.</p>
        </div>
        <button type="submit" class="button-74" role="button" [disabled]="title.invalid || content.invalid || foreword.invalid
         || photo.invalid || toogleBool"
                [title]="postForm.invalid ? 'Fill all fields with valid values.' : ''">Publish</button>
      </form>
    </div>

  </div>
</body>
<!------start footer section----->

<app-footer></app-footer>
