<app-header></app-header>
<!--start section content... -->

<hr id="hrAfterTitle">
<body>
  <div id="titleBlock"><p>CREATE AN ARTICLE</p></div>
  <div class="postDiv">
    <div class="hotDog"></div>
    <a href="http://localhost:4200/rules"><p id="answ">Have you read<br>the publication rules?</p></a>


    <div class="mainBody">
      <form #postForm="ngForm" novalidate autocomplete="off" (ngSubmit)="onSave()">
        <!--TITLE INPUT WITH MAX LENGTH 80-->
        <div id="inputTitle">
          <p id="title">Title <b class="red">*</b> :</p>
          <input  type="text" name="title" maxlength="80" placeholder="Type text here..."
                  [(ngModel)]="post.title" required appTrim #title="ngModel" (keyup)="titleInput($event)">
          <div class="inputLengthDiv">
            {{titleNumberOfCharacters}} / {{titleMaxNumberOfCharacters}}
          </div>
        </div>

        <!--FOREWORD INPUT WITH MAX LENGTH 150-->
        <div  id="inputForeword">
          <p id="foreword">Foreword <b class="red">*</b> :</p>
          <textarea name="foreword" maxlength="150" placeholder="Type text here..." cols="80" rows="5"  type="text"
                    [(ngModel)]="post.foreword" required appTrim (keyup)="forewordInput($event)"></textarea>
          <div class="inputLengthDiv">
            {{forewordNumberOfCharacters}} / {{forewordMaxNumberOfCharacters}}
          </div>
        </div>

        <!--PHOTO INPUT-->
        <div id="inputPhoto">
          <p id="photo">Photo <b class="red">*</b> :</p>
          <div class="dropzone">
            <input type="file" name="photo" id="uploadPhoto" accept="image/png, image/jpeg" appFileValidator
                   (change)="previewImage()" ngModel #photo="ngModel" [required]="mode === 'create'">
            <p>Drag or <i style="text-decoration: underline">tap</i> to download</p><br>
            <p>We recommend using high-quality files in the .jpg (up to 20 MB in size).</p>
          </div>
        </div>

        <div id="uploadedPhoto" *ngIf="photo != null">
          <p>Here you will see how your photo will look</p>
          <div class="imgDiv">
            <img id="preview-img" alt=""/>
          </div>
        </div>

        <p id="contentText">Content <b class="red">*</b> :</p>
        <div id="content">
          <angular-editor name="content" #content="ngModel" [placeholder]="'Enter text here...'" [(ngModel)]="post.content" type="text"
                          required appTrim></angular-editor>
        </div>
        <p  id="warning">🌭 Fields with <b class="red">*</b> are mandatory 🌭</p>
        <div class="checkBox">
          <br><input type="checkbox" id="switch" required/><label for="switch"></label>

          <p id="agreeText">I confirm that I am the author of the text I publish and I understand that
            the publication of other people's works or the publication of works that violate
            the rules may lead to the removal of these works and blocking access to the site.</p>
        </div>
        <button type="submit" class="button-74" role="button">Publish</button>
      </form>
    </div>

  </div>
</body>
<!------start footer section----->

<app-footer></app-footer>
