
<title>Registration</title>

        <div class="blockregist">
            <div class="lineregister">
                <img class="fotoforregist" src="assets/colage.png" alt="">
                <form>
                    <div class="nameregist"><h1>
                        Registration
                    </h1>
                    </div>

                    <div class="container">
                        <div class="inputs">
                            <input type="text" required>
                            <label>Username</label>
                        </div>
                        <div class="inputs">
                            <input type="password" required>
                            <label>Email</label>
                        </div>
                        <div class="inputs">
                            <input type="text" required>
                            <label>Password</label>
                        </div>
                        <div class="inputs">
                            <input type="password" required>
                            <label>Confirm Password</label>

                        </div>
                        
                            <button class="submit"><label>Create account</label></button>
                            <p>Have account ? Log In -></p>
                        
                        
                    </div>
                    
                </form>

                

            </div>
            <div class="lastline"></div>
        </div>


