<body>

<hr class="heightHR">
<hr class="bottomHR">
<div class="mainDiv">
  <div class="imgDiv"></div>

  <div class="formDiv">
    <p id="registration">Registration</p>
    <form  class="inputs">
      <input type="text" placeholder="Username" required>
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Password" required>
      <input type="password" placeholder="Confirm Password" required>

      <button class="submit"><label>Create account</label></button>
    </form>

    <div class="a">
      <a href="#">Have account ? Log In -></a>
    </div>

  </div>
</div>

</body>
