<app-header></app-header>
<hr id="hrAfterTitle">
<body>
        <div id="titleBlock"><p>Authors</p></div>

        <div class="search">
          <input type="text" placeholder="Search...">
          <img id="searchIcon" src="assets/iconsSearch.png">
        </div>


        <div class="select">


          <form action="#">
            <select name="bylikes" class="bylikes">
              <option value="none">By followers</option>
              <option value="php">PHP</option>
              <option value="java">Java</option>
              <option value="golang">Golang</option>
              <option value="python">Python</option>
              <option value="c#">C#</option>
              <option value="C++">C++</option>
              <option value="erlang">Erlang</option>
            </select>
          </form>

          <form action="#">
            <select name="alphabet" class="alphabet">
              <option value="none">Alphabetically</option>
              <option value="php">PHP</option>
              <option value="java">Java</option>
              <option value="golang">Golang</option>
              <option value="python">Python</option>
              <option value="c#">C#</option>
              <option value="C++">C++</option>
              <option value="erlang">Erlang</option>
            </select>
          </form>
        </div>

        <div id="blog">
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
        
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="centerusers">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox">

                                <span class="spanstyle">
                                    <b>Nick of person</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“I am the person in the world”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>144 followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>
            </div>

</body>


<app-footer></app-footer>
