<app-header></app-header>
<hr id="hrAfterTitle">
<!--<hr id="cetre">-->
<body>
        <div id="titleBlock"><p>Authors</p></div>

        <div class="search">
          <input type="text" placeholder="Search..." [(ngModel)]="searchParameter.searchPattern.search" (keyup.enter)="apply()" >
          <img id="searchIcon" src="assets/iconsSearch.png" (click)="apply()">
        </div>



        <table class="select" matSort (matSortChange)="setSorted($event)">
          <tr>
            <th name="bylikes" mat-sort-header="likes" class="bylikes" style="text-align: center"> By followers</th>
            <th name="alphabet" class="alphabet" mat-sort-header="title"> Alphabetically </th>
          <tr>
        </table>

        <div id="blog">
              <div class="centerusers" *ngFor="let author of page.content | paginate: {itemsPerPage: searchParameter.pageSize, currentPage:  searchParameter.page+1, totalItems: page.totalItem}">
                <div class="con">
                  <div class="con1">
                    <img src="assets/kikiliii.jpg" class="usering">
                      <div class="innercon"></div>

                      <div class="sidebox" >

                                <span class="spanstyle">
                                    <b>{{author.username}}</b>
                                </span><br>
                        <span class="spanstyle2">
                                  <p>“{{author.bio}}”</p>
                                </span>
                        <span class="spanfollower">
                                  <p>{{author.followers}} followers</p>
                              </span>
                      </div>
                  </div>
                </div>
              </div>

            </div>
        <div style="width: 700px;position: absolute;  margin-top: -438px; margin-left: 175px">
          <div style=" position: relative;background-color: #EBE6D1;  font-size: 16px; margin-left: 20px;">
            <button style="width: 200px;font-family: 'Montserrat Alternates'; font-size: 16px; margin-top: -18px; margin-left: 22px; float: left" class="btn btn-dark btn-lg" (click)="getFirst()">First Page</button>
            <div style="width: 700px;font-family: 'Montserrat Alternates';text-align: left; margin-left: 5cm">
              <pagination-controls
                                   previousLabel="Previous"
                                   nextLabel="Next"

                                   class="my-pagination"
                                   [maxSize]="7" (pageChange)="changePage($event.valueOf() - 1)" >
              </pagination-controls>
            </div>
            <button style="width: 200px;font-family: 'Montserrat Alternates'; font-size: 16px; float: right; margin-left: 20px;   margin-top: -68px" class="btn btn-dark btn-lg" (click)="getLast()">Last Page</button>
          </div>
        </div>

</body>


<app-footer></app-footer>
