@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,300;0,500;0,600;0,700;0,900;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,300;0,500;0,600;0,700;0,900;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background: #EBE6D1;
}

.search{
  margin-right: 1100px;
  margin-top: 240px;
}
.search .search_wrap{
	background: black;
  margin-left: auto;
    margin-right: auto;
    width: 6em
}

.search .search_wrap .search_box{
	position: absolute;
	width: 400px;
	height: 65px;

}

.search .search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
  background: #749E94;
border: 1px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search .search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 70%;
	background: #749E94;
border: 1px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 1;
	cursor: pointer;
}

.search .search_wrap .search_box .btn:hover{
	background: #C24332;
}

.search .search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: rgb(0, 0, 0);
	font-size: 20px;
}

.search.search_wrap.search_wrap_1 .search_box .btn{
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.search .search_wrap.search_wrap_1 .search_box .input{
	padding-right: 80px;
}

.articlesline1{
  position: absolute;
    width: 102.26%;
    height: 50px;
    left: -2%;
    top:325px;

    border: 1px solid #000000;
}
.articlesline2{

    width: 50px;
    height: 300px;
    margin-left: 479px;
    margin-top: -196px;
    border: 1px solid #000000;
    transform: rotate(-90deg);

}
.articlesline2 p{
  transform: rotate(90deg);
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
margin-top: 80px;
line-height: 39px;
/* identical to box height */

letter-spacing: 0.1em;

color: #000000;

}
.centerfilters{
  width: 1300px;

  display: flex;
  margin-left: auto;
  margin-right: auto;

}
.bylikes{
  margin-left: 730px;
  margin-top: -4px;


}
.bylikes ul{
  display: flex;
  margin-bottom: 10px;

}
.bylikes ul li{
  list-style: none;
  background: #749E94;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 13px 25px;
  margin: 4px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
border: 1px solid #000000;
font-size: 15px;
line-height: 17px;
/* identical to box height */


letter-spacing: 0.2em;

color: #000000;
}

.namepage{
  margin-left: auto;
  margin-right: auto;
  width: 10px;
  height: 1px;

  display: flex;

}




#blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 140px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
  margin-top: -90px;
  }

  .blog-heading h1{
  text-decoration: underline rgb(248, 222, 103);
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  }
  .blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  }
  .blog-box{
  width: 350px;
  position: relative;
  background: #FEE0D4;
border: 1px solid #000000;
  margin: 58px 25px;
  margin-top: -0.9cm;
  }
  .blog-img{
  width: 100%;
  height: auto;
  }
  .blog-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  }
  .blog-text{
  padding: 8px;
  display: flex;
  flex-direction: column;
  }
  .blog-text span{
  color: #e0ac1c;
  font-size: 0.9rem;
  }
  .blog-text .blog-title{
    margin-top: 10px;
    font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 700;
font-size: 1.3rem;
line-height: 18px;
letter-spacing: 0.1em;

color: #000000;

  }
  .blog-text .blog-title:hover{
  color: #eac23f;
  transition: all ease 0.3s;
  }
  .blog-text p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;

    color: #000000;
  font-size: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
  }
  .blog-text a{
  color: #333;
  font-family: 'Montserrat';
  }
  .blog-text a:hover{
  color: #eac23f;
  transition: all ease 0.3s;
  }
  .blog-box .namesliders{
    position: absolute;
    width: 40%;
    height: 4.5%;
    background: #EBE6D1;
    margin-top: -10px;

    left: 20px;
    border: 2px solid black;

  }
  .blog-box .namesliders p{
   text-align: center;

  margin-left: 1%;


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: #000000;
  }
.con{
  display: inline-flex;
  padding: 5px;
  background: rgba(116, 158, 148, 0.5);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  width: 492px;
  height: 99px;
  margin-left: -45px;
  margin-top: 40px;

}
.con1{
  width: 80px;

  height: 80px;
  background: #D9D9D9;
  border-radius: 50%;
  text-align: center;
  display: inline-flex;
}
.con:hover:nth-child(1){
  box-shadow: 10px 10px 10px #f8f8f84d;


}
.usering{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.innercon{

  width: 10px;
  height: 10px;
  background-color: #cd443200;
  margin-top: 72px;
  margin-left: 20px;
  border-radius: 50%;
}
.sidebox{
  margin-top: 5px;
  display: inline-block;
  padding-top: 5px;
  width: 380px;
}
.spanstyle{
  font-size: 18px;
  font-weight: 1;
  text-align: left;
  margin-left: 30px;
  font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.1em;

color: #000000;

}
.spanstyle2{
  font-size: 15px;
  margin-left: 30px;
  float:left;
  margin-top: 23px;
  font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.1em;

color: #000000;
}
.centerusers{
  display: flex;

  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.centerlineusers{
  display: flex;

  width: 1100px;
  margin-left: auto;
  margin-right: auto;

}
.centerlineusers hr{


  width: 872px;
  height: 0px;
  margin-left: 75px;
  margin-top: -361px;
  border: 1px solid #00000094;
  transform: rotate(90.08deg);
}



.centerusers2{
  display: flex;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.con2{
  display: inline-flex;
  padding: 5px;
  background: rgba(116, 158, 148, 0.5);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  width: 492px;
  height: 99px;
  margin-left: 331px;
  margin-top: 40px;

}
.con3{
  width: 80px;

  height: 80px;
  background: #D9D9D9;
  border-radius: 50%;
  text-align: center;
  display: inline-flex;
}
.con2:hover:nth-child(1){
  box-shadow: 10px 10px 10px #f8f8f84d;


}
.usering2{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.innercon2{

  width: 10px;
  height: 10px;
  background-color: #00000000;
  margin-top: 72px;
  margin-left: 20px;
  border-radius: 50%;
}
.sidebox2{
  margin-top: 5px;
  display: inline-block;
  padding-top: 5px;
  width: 380px;
}
.spanstyle3{
  font-size: 18px;
  font-weight: 1;
  text-align: left;
  margin-left: 30px;
  font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.1em;

color: #000000;

}
.spanstyle4{
  font-size: 15px;
  margin-left: 30px;
  float:left;
  margin-top: 23px;
  font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.1em;

color: #000000;
}
.twocolumn{
  margin-top: -835px;
  margin-left: 500px;
}
.spanfollower p{
  font-size: 15px;
  margin-left: 255px;
  float:left;
  margin-top: -61px;
  font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */

letter-spacing: 0.1em;

color: #000000;

}
