<app-header></app-header>
<section class="articles">
  <div class="search">
    <div class="namepage">
      <div class="articlesline1">
      </div>
      <div class="articlesline2"><p>Authors</p></div>
    </div>
    <div class="search_wrap search_wrap_1">
      <div class="search_box">
        <input type="text" class="input" placeholder="Search...">
        <div class="btn btn_common">
          <i class="fas fa-search"></i>
        </div>


      </div>
    </div>

  </div>
  <div class="centerfilters">
    <div class="bylikes" >
      <ul>
        <li class="list">Alphabetically 🡳</li>
        <li class="list">By followers 🡳</li>
      </ul>

    </div>
  </div>

  <ul>
    <li>
      <div class="centerusers">
        <div class="con">
          <div class="con1">
            <img src="user.png" class="usering">
              <div class="innercon"></div>

              <div class="sidebox">

                        <span class="spanstyle">
                            <b>Nick of person</b>
                        </span><br>
                <span class="spanstyle2">
                           <p>“I am the person in the world”</p>
                        </span>
                <span class="spanfollower">
                          <p>144 followers</p>
                       </span>
              </div>
          </div>
          <div class="centerusers">
            <div class="con">
              <div class="con1">
                <img src="user.png" class="usering">
                  <div class="innercon"></div>

              </div>
            </div>
            <div class="sidebox">

                      <span class="spanstyle">
                          <b>Nick of person</b>
                      </span><br>
              <span class="spanstyle2">
                         <p>“I am the person in the world”</p>
                      </span>
              <span class="spanfollower">
                        <p>144 followers</p>
                     </span>


            </div>
          </div>

        </div>
        <div class="centerusers">
          <div class="con">
            <div class="con1">
              <img src="user.png" class="usering">
                <div class="innercon"></div>
            </div>
            <div class="sidebox">

                    <span class="spanstyle">
                        <b>Nick of person</b>
                    </span><br>
              <span class="spanstyle2">
                       <p>“I am the person in the world”</p>
                    </span>
              <span class="spanfollower">
                      <p>144 followers</p>
                   </span>


            </div>
          </div>

        </div>
        <div class="centerusers">
          <div class="con">
            <div class="con1">
              <img src="user.png" class="usering">
                <div class="innercon">


                </div>
            </div>
            <div class="sidebox">

                  <span class="spanstyle">
                      <b>Nick of person</b>
                  </span><br>
              <span class="spanstyle2">
                     <p>“I am the person in the world”</p>
                  </span>
              <span class="spanfollower">
                    <p>144 followers</p>
                 </span>


            </div>
          </div>

        </div>
        <div class="centerusers">
          <div class="con">
            <div class="con1">
              <img src="user.png" class="usering">
                <div class="innercon">


                </div>
            </div>
            <div class="sidebox">

                <span class="spanstyle">
                    <b>Nick of person</b>
                </span><br>
              <span class="spanstyle2">
                   <p>“I am the person in the world”</p>
                </span>
              <span class="spanfollower">
                  <p>144 followers</p>
               </span>


            </div>
          </div>

        </div>
        <div class="centerusers">
          <div class="con">
            <div class="con1">
              <img src="user.png" class="usering">
                <div class="innercon">


                </div>
            </div>
            <div class="sidebox">

              <span class="spanstyle">
                  <b>Nick of person</b>
              </span><br>
              <span class="spanstyle2">
                 <p>“I am the person in the world”</p>
              </span>
              <span class="spanfollower">
                <p>144 followers</p>
             </span>


            </div>
          </div>

        </div>
      </div>
    </li>
  </ul>
  <div class="centerlineusers">
    <hr>
  </div>
  <section class="twocolumn">
    <div class="centerusers2">
      <div class="con2">
        <div class="con3">
          <img src="user.png" class="usering2">
            <div class="innercon2">


            </div>
        </div>
        <div class="sidebox2">

                  <span class="spanstyle3">
                      <b>Nick of person</b>
                  </span><br>
          <span class="spanstyle4">
                     <p>“I am the person in the world”</p>
                  </span>
          <span class="spanfollower">
                    <p>144 followers</p>
                 </span>


        </div>
      </div>

    </div>
    <div class="centerusers2">
      <div class="con2">
        <div class="con3">
          <img src="user.png" class="usering2">
            <div class="innercon2">


            </div>
        </div>
        <div class="sidebox2">

                  <span class="spanstyle3">
                      <b>Nick of person</b>
                  </span><br>
          <span class="spanstyle4">
                     <p>“I am the person in the world”</p>
                  </span>
          <span class="spanfollower">
                    <p>144 followers</p>
                 </span>


        </div>
      </div>

    </div>
    <div class="centerusers2">
      <div class="con2">
        <div class="con3">
          <img src="user.png" class="usering2">
            <div class="innercon2">


            </div>
        </div>
        <div class="sidebox2">

                  <span class="spanstyle3">
                      <b>Nick of person</b>
                  </span><br>
          <span class="spanstyle4">
                     <p>“I am the person in the world”</p>
                  </span>
          <span class="spanfollower">
                    <p>144 followers</p>
                 </span>


        </div>
      </div>

    </div>
    <div class="centerusers2">
      <div class="con2">
        <div class="con3">
          <img src="user.png" class="usering2">
            <div class="innercon2">


            </div>
        </div>
        <div class="sidebox2">

                  <span class="spanstyle3">
                      <b>Nick of person</b>
                  </span><br>
          <span class="spanstyle4">
                     <p>“I am the person in the world”</p>
                  </span>
          <span class="spanfollower">
                    <p>144 followers</p>
                 </span>


        </div>
      </div>

    </div>
    <div class="centerusers2">
      <div class="con2">
        <div class="con3">
          <img src="user.png" class="usering2">
            <div class="innercon2">


            </div>
        </div>
        <div class="sidebox2">

                  <span class="spanstyle3">
                      <b>Nick of person</b>
                  </span><br>
          <span class="spanstyle4">
                     <p>“I am the person in the world”</p>
                  </span>
          <span class="spanfollower">
                    <p>144 followers</p>
                 </span>


        </div>
      </div>

    </div>
    <div class="centerusers2">
      <div class="con2">
        <div class="con3">
          <img src="user.png" class="usering2">
            <div class="innercon2">


            </div>

            <div class="sidebox2">

                  <span class="spanstyle3">
                      <b>Nick of person</b>
                  </span><br>
              <span class="spanstyle4">
                     <p>“I am the person in the world”</p>
                  </span>
              <span class="spanfollower">
                    <p>144 followers</p>
                 </span>


            </div>
        </div>

      </div>
    </div>
  </section>
</section>
<app-footer></app-footer>
