<app-header></app-header>
<!--start section content... -->
<body>
<div class="postDiv">

  <h1>Resource Rules</h1>

  <h3>We make a lot of efforts to make the site user-friendly, and the atmosphere
    on it pleasant and friendly, but we cannot achieve this without your help.
    Please read the simple rules that will help you avoid unpleasant situations:</h3>

  <!------start `Publication` section----->
  <h2>Publication</h2>
  <hr class="hr">

  <p><b style="color: #63948C">You can </b>publish:</p>
  <div class="block">
    <img src="assets/checkMark.png">
    <p class="pRules"><b>Articles or stories written by you;</b><br>
      The text you wrote must be pre-checked for errors and formatted in accordance with the rules of your language.</p>
  </div>

  <div class="block">
    <img src="assets/checkMark.png">
    <p class="pRules"><b>Translations of articles or stories from foreign languages (only with the permission of the author!);</b><br>
      Your own translation from a foreign language. Author's permission for publication must be obtained in advance.</p>
  </div>

  <p><b style="color: #C24332">It is forbidden to </b>publish:</p>
  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Texts written by others, copied from the Internet. Under no pretext and in any form;</b><br></p>
    <ul class="ulRules">
      <li>Even writing in the cap "article is not mine."</li>
      <li>Even with permission from the author.</li>
      <li>Under no pretext!</li>
      <li>It's not a joke. Violating this rule can easily get you banned from the site.</li>
    </ul>

  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Flood, spam and offensive and/or provocative texts;</b><br>
      Don't be tempted to play a trick on readers or post anything that doesn't fit with the fandom
      theme or resource format in general. Such publications will be removed, and violators will face
      appropriate sanctions.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Works touching on recent world tragedies and political conflicts;</b><br>
      It does not matter for what purpose the work was written - you should not use recent tragedy events
      to create your works, this is at least tactless in relation to those who could suffer from them.
      If you want to write a text on historical events, wait at least six months from the moment when
      the situation stabilizes.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Contests, events, flash mobs, announcements, appeals to readers under the guise of fan fiction or part of it;</b><br>
      These are things that are best done in a personal diary. Some important information can be placed in the “About me” field in your
      profile. To communicate with regular readers, use private messages.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Opinions about events or descriptions of one's life, similar to entries in a personal diary;</b><br>
      An article or a story is a work with a plot, climax, denouement, plot. Entries like “I got up at 8 in
      the morning and went to school” are best left for a personal diary.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Collections of quotes, sayings, anecdotes, posts, logs;</b><br>
      It is possible to publish an article based on quotes, but only on the condition that it will be your author's
      research based on them, and not just a selection with mean comments. The relevance of each such article
      is decided individually.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Translations of lyrics;</b><br>
      It doesn't matter if it rhymes or not, it's not fanfiction.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Lists of signs and reasons, tips, TOPs, pros and cons, profiles of characters, the like;</b><br>
      The ban does not apply only to works in the genres and warnings style. The relevance of each such work is decided individually.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Incomplete works with a link to the continuation on a third-party resource.</b><br>
      Example: here is the first chapter, read the rest at the link.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Duplicate works.</b><br>
      The publication of the same text (from the same profile or from different ones) clogs fandoms and
      creates confusion: what kind of work should readers follow? Which work to leave a review and rating?
      Where will the next chapter be? The ban applies to all works, including co-authored works.</p>
  </div>

  <!------start `Comments` section----->
  <h2>Reviews</h2>
  <hr class="hr">

  <p><b style="color: #63948C">Be sure to </b>leave:</p>
  <div class="block">
    <img src="assets/checkMark.png">
    <p class="pRules"><b>Your constructive and reasonable opinion regarding the work under discussion;</b><br>
      You can write about what thoughts the work caused in you, what impression it left.</p>
  </div>

  <div class="block">
    <img src="assets/checkMark.png">
    <p class="pRules"><b>Questions to the author regarding the work under discussion.</b><br>
      You can ask the author about how the work was created, about plans for the future, to clarify some details, and so on.
    </p>
  </div>

  <p><b style="color: #C24332">It is forbidden to </b>leave:</p>
  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Insults, mate, rude reviews;</b><br>
      We do not tolerate rudeness towards authors and other readers.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Everything that is not related to the discussion of the work (flood);</b><br>
      "Hello, how are you", "I'm off" and all that is better to write through private messages.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Links to your articles, applications, Telegram groups, soliciting reviews and “likes” ratings
      and other self-promotion;</b><br>
      Spam is spam, no one likes it.</p>
  </div>


  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Unreasoned negative reviews;</b><br>
      You can write “I liked it” and not explain why. However, if you write “I didn’t like it”, you should justify
      your opinion, backing it up with constructive arguments. This will help the author correct errors in the future.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Participation in disputes, disassembly and clarification of relations in the reviews.</b><br>
      Even if you are fighting “for a just cause”, do not be rude, but simply respond to a boor or defend the author,
      be prepared for sanctions in your direction - supporting such a “conversation” (in any form) is as harmful as
      rudeness or insults themselves. The best tactic is to completely ignore the boor, the moderator will deal with him.</p>
  </div>

  <!------start `Covers, avatars, profile background` section----->
  <h2>Reviews</h2>
  <hr class="hr">

  <div class="block">
    <p>We work hard to keep our site accessible and enjoyable for everyone, regardless of personal preference.
      Due to the fact that avatars, profile backgrounds and work covers are visible to everyone without any
      restrictions and the ability to hide them or filter them using search, images uploaded by users must strictly
      follow a set of rules, and all covers undergo additional preliminary moderation.</p>
  </div>

   <p><b style="color: #C24332">Forbidden </b>to upload:</p>
  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Images that violate the copyrights of third parties. Any image was created by someone,
      and the author of the image has the right to dispose of it at his own discretion. If you do not know who the
      author of the image is and what is the policy for using this image, you should not upload it as an avatar,
      profile background and/or cover image. Copyright infringing images will be removed at the first request of
      the copyright holders.</b>
  </div>

  <div class="blockF" style="margin-bottom: 130px">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Images of a sexual nature.<br>
      Images containing:</b><br></p>
    <ul class="ulRules">
      <li>Nude body and / or intimate parts of the body, including blurred and / or otherwise censored;</li>
      <li>Close-up of the buttocks, genitals and/or breasts;</li>
      <li>Scenes of an erotic and / or pornographic nature;</li>
      <li>Sex toys and related items;</li>
      <li>Characters in transparent and/or overly provocative clothing;</li>
      <li>Characters in explicit and/or provocative poses.</li>
    </ul>
  </div>

  <div class="blockF" style="margin-bottom: 270px">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Images of a shocking and/or provocative nature.
      Images containing:</b><br></p>
    <ul class="ulRules">
      <li>Excessively naturalistic depictions of blood, entrails, injuries, bodily fluids, waste products, etc.;</li>
      <li>Naturalistic images of accidents, crime scenes, disasters;</li>
      <li>Naturalistic acts of violence: shootings, executions, explosions, etc.;</li>
      <li>Realistic firearms and / or their parts, spare parts;</li>
      <li>Obscene gestures, including blurry and / or otherwise censored;</li>
      <li>Obscene language, including distorted, with intentional spelling errors and / or replacement of characters;.</li>
      <li>Obscene gestures, including blurry and / or otherwise censored;</li>
      <li>Symbolism of hate groups;</li>
      <li>Materials promoting incitement of racial, religious, ethnic hatred or enmity;</li>
      <li>Oppression of certain social groups on any grounds;</li>
      <li>Materials aimed at causing a feeling of anxiety in the viewer: the so-called. screamer images,
        images of artificially distorted realistic facial features and/or body parts, etc.</li>
    </ul>
  </div>

  <div class="blockF" style="margin-bottom: 130px">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Images of tobacco products, alcohol, drugs, recreational drugs.<br>
      Images containing:</b><br></p>
    <ul class="ulRules">
      <li>Scenes of naturalistic, irresponsible and / or excessive use of the substances listed above;</li>
      <li>Advertising of the substances listed above and related products;</li>
      <li>Instructions for making, buying and/or consuming the substances listed above.</li>
    </ul>
  </div>

  <!------start `Other` section----->
  <h2>Other</h2>
  <hr class="hr">
  <p><b style="color: #63948C">Allowed </b>:</p>

  <div class="blockF" style="margin-bottom: 100px">
    <img src="assets/checkMark.png">
    <p class="pRules"></p>
    <ul class="ulRules">
      <li>Share links to work on personal pages, social networks, thematic groups, and so on;</li>
      <li>Organize thematic events (competitions, interactive events, etc.) in social networks and other platforms;</li>
      <li>Participate in thematic events (competitions, interactive events, etc.) in social networks and other platforms;</li>
      <li>Participate in barter events that require mandatory familiarization with the work (review exchanges, criticism
        marathons, etc.).</li>
    </ul>
  </div>


  <p><b style="color: #C24332">Forbidden </b>:</p>
  <div class="blockF" style="margin-bottom: 200px">
    <img src="assets/prohibited.png">
    <p class="pRules"><b>Artificially inflate any indicators of activity.<br>
      In no form is it allowed:</b><br></p>
    <ul class="ulRules">
      <li>Accept offers to boost “Like” ratings, reviews, collections, subscriptions, “interested” in applications
        and other metrics using automatic means that do not require familiarization with the work (bots, exchanges like
        “you like me - I like you” and so Further);</li>
      <li>Offer it to other users;</li>
      <li>Create new accounts and / or use existing ones for cheating;</li>
      <li>Use the websites of social exchanges, services or mobile applications with tasks for cheating;</li>
      <li>Etc.</li>
    </ul>
    <br>
    <p style="float: right"><b><i>The administration reserves the right to remove any texts and images deemed inappropriate.</i></b></p>
  </div>


</div>



</body>
<!------start footer section----->

<app-footer></app-footer>
